* {
    box-sizing: border-box;
}

body, html {
    height: 100vh;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.table-container {
    background-color: #034C3C;
    min-height: 100vh;
}

.title-home {
    color: #F7DAD9;
    margin-top: 0;
    padding-top: 20px;
    font-size: 54px;
}

.table {
    border: 1px solid #564154;
    border-radius: 5px;
    background-color: #F7DAD9;
    margin: 10px 100px;
    padding: 10px;
    display: inline-block;
    justify-content: center;
    align-items: center;

    height: auto;
}

.animal-info {
    position: relative;
    display: inline-block;
    margin: 10px;
    flex: 1 1 calc(33.33% - 20px); 
    max-width: calc(33.33% - 20px); 
}

.animal-image {
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 5px;
    display: block;
    margin: 5px;
    z-index: 1;
}

.animal-image:hover {
    opacity: .5;
    transition: .1s ease;
}

.options {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: 10px;
}

.animal-name {
    color: #564154;
    background-color: #F7DAD9;
    padding: 3px;
    position: absolute;
    z-index: 2;
    border-radius: 5px;
    transform: translate(1%, -50%);
}






